// COLORS
$primary-color: #565796;
$secondary-color: #040ea1;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(255, 255, 255);

$dark-grey: #080808;

$dark-blue-text: #050507; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
